@model LoginRequest
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-antiforgery="true">
    <div>
        <div>
            <label asp-for="Phone"></label><br />
            <input asp-for="Phone" /><br />
            <span asp-validation-for="Phone"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <br />
        <div>
            <input type="submit" value="Войти" />
        </div>
        <br />
        @Html.ActionLink("Регистрация", "Register")
    </div>
</form>
