@model RegisterRequest
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-antiforgery="true">
    <div>
        <div>
            <label asp-for="FIO"></label><br />
            <input type="text" asp-for="FIO" /><br />
            <span asp-validation-for="FIO"></span>
        </div>
        <div>
            <label asp-for="Phone"></label><br />
            <input asp-for="Phone" /><br />
            <span asp-validation-for="Phone"></span>
        </div>
        <div>
            <label asp-for="Email"></label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <br />
        <div>
            <input type="submit" value="Создать" />
        </div>
        <br />
        <div class="validation" asp-validation-summary="ModelOnly"></div>
    </div>
</form>
